@font-face {
    font-family: 'Thunder';
    src: url('../../assets/thunder/Web-TT/Thunder-BlackHC.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Thunder';
    src: url('../../assets/thunder/Web-TT/Thunder-BlackHCItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Thunder';
    src: url('../../assets/thunder/Web-TT/Thunder-BlackLC.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Thunder';
    src: url('../../assets/thunder/Web-TT/Thunder-BlackLCItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: 'Thunder';
    src: url('../../assets/thunder/Web-TT/Thunder-BoldHC.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Thunder';
    src: url('../../assets/thunder/Web-TT/Thunder-BoldHCItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Thunder';
    src: url('../../assets/thunder/Web-TT/Thunder-BoldLC.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Thunder';
    src: url('../../assets/thunder/Web-TT/Thunder-BoldLCItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* ExtraBold */
@font-face {
    font-family: 'Thunder';
    src: url('../../assets/thunder/Web-TT/Thunder-ExtraBoldHC.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Thunder';
    src: url('../../assets/thunder/Web-TT/Thunder-ExtraBoldHCItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Thunder';
    src: url('../../assets/thunder/Web-TT/Thunder-ExtraBoldLC.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Thunder';
    src: url('../../assets/thunder/Web-TT/Thunder-ExtraBoldLCItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

/* ExtraLight */
@font-face {
    font-family: 'Thunder';
    src: url('../../assets/thunder/Web-TT/Thunder-ExtraLightHC.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Thunder';
    src: url('../../assets/thunder/Web-TT/Thunder-ExtraLightHCItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Thunder';
    src: url('../../assets/thunder/Web-TT/Thunder-ExtraLightLC.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Thunder';
    src: url('../../assets/thunder/Web-TT/Thunder-ExtraLightLCItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

/* Light */
@font-face {
    font-family: 'Thunder';
    src: url('../../assets/thunder/Web-TT/Thunder-LightHC.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Thunder';
    src: url('../../assets/thunder/Web-TT/Thunder-LightHCItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Thunder';
    src: url('../../assets/thunder/Web-TT/Thunder-LightLC.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Thunder';
    src: url('../../assets/thunder/Web-TT/Thunder-LightLCItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

/* Medium */
@font-face {
    font-family: 'Thunder';
    src: url('../../assets/thunder/Web-TT/Thunder-MediumHC.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Thunder';
    src: url('../../assets/thunder/Web-TT/Thunder-MediumHCItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Thunder';
    src: url('../../assets/thunder/Web-TT/Thunder-MediumLC.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Thunder';
    src: url('../../assets/thunder/Web-TT/Thunder-MediumLCItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

/* SemiBold */
@font-face {
    font-family: 'Thunder';
    src: url('../../assets/thunder/Web-TT/Thunder-SemiBoldHC.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Thunder';
    src: url('../../assets/thunder/Web-TT/Thunder-SemiBoldHCItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Thunder';
    src: url('../../assets/thunder/Web-TT/Thunder-SemiBoldLC.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Thunder';
    src: url('../../assets/thunder/Web-TT/Thunder-SemiBoldLCItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

/* Thin */
@font-face {
    font-family: 'Thunder';
    src: url('../../assets/thunder/Web-TT/Thunder-ThinHC.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Thunder';
    src: url('../../assets/thunder/Web-TT/Thunder-ThinHCItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Thunder';
    src: url('../../assets/thunder/Web-TT/Thunder-ThinLC.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Thunder';
    src: url('../../assets/thunder/Web-TT/Thunder-ThinLCItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Obviously", "sans-serif";
    src: url("../../assets/obviously/Obviously-Regular.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "Obviously", "sans-serif";
    src: url("../../assets/obviously/Obviously-Bold.otf") format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: "Obviously", "sans-serif";
    src: url("../../assets/obviously/Obviously-Black.otf") format("opentype");
    font-weight: 800;
}

@font-face {
    font-family: "Obviously", "sans-serif";
    src: url("../../assets/obviously/Obviously-Medium.otf") format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: "Obviously", "sans-serif";
    src: url("../../assets/obviously/Obviously-Light.otf") format("opentype");
    font-weight: 300;
}