.tag {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  padding: 5px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tag-logo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.tag-text {
  font-size: 14px;
  color: #333;
}
