h1 {
  font-family: "Humane", sans-serif;
  font-size: 6em;
  letter-spacing: 1px;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
}

h2 {
  font-family: "Thunder", sans-serif;
  font-weight: 700;
}

p {
  font-family: "Obviously", sans-serif;
}
